/*
CSS for the DC Application
*/
/* better to decouple the style attribute from the appn logic*/
#bg {
    -fx-background-color: #dadee0;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#title {
    -fx-font: 30px "Myriad Pro";
    -fx-stroke-width: 4;
}

#divider{
    -fx-fill: grey;
}

#text{
    -fx-font: 15px initial;
}
